---
import Btn from "../assets/Btn.astro";
---

<section id="events_section">
  <div class="title_gap">
    <h1 class="h2">our <span class="text_blue">events</span></h1>
    <h2 class="h4">MARKETS | CHARITY EVENTS | GATHERINGS | CELEBRATIONS</h2>
  </div>
  <div class="desktop_flex">
    <div class="text_flex">
      <p>At Contra, we host a mix of events that bring our community together. From cute little markets, to heartfelt Charity Events and cozy Gatherings that spark connection. Everybody is welcome at any time in our home, Contra House.</p>

      <div class="btn_container">
        <p class="bold text_blue">We will post about upcoming events on our instagram.</p>

        <Btn href="https://www.instagram.com/contra_tattoo_studio/" variant="primary" target="_blank">go to instagram</Btn>
      </div>
    </div>
    <div class="events_img">
      <img src="/event/contra.webp" alt="Contra shop" />
    </div>
  </div>

  <style>
    .text_flex {
      display: flex;
      flex-direction: column;
      gap: var(--gap-48);
      margin-bottom: var(--gap-48);
    }
    .btn_container {
      display: flex;
      flex-direction: column;
      gap: var(--gap-16);
      align-items: start;
    }

    @media (min-width: 900px) {
      .info {
        max-width: 760px;
        gap: var(--gap-96);
      }
      .events_img {
        width: 520px;
        height: auto;
      }
      .desktop_flex {
        display: flex;
        flex-direction: row;
        gap: var(--gap-48);
      }
    }
  </style>
</section>
