---
import "../assets/Btn.astro";
import "../assets/Link.astro";
import "../../css/global.css";
import "../../css/variables.css";
import Link from "../assets/Link.astro";
import Btn from "../assets/Btn.astro";
---

<section id="events_section" class="events_sec">
  <div class="events_container">
    <div class="events_title">
      <div class="events_h2">
        <h2>our</h2><h2 class="text_blue">events</h2>
      </div>
      <h4 class="text_blue">MARKETS | CHARITY EVENTS | GATHERINGS | CELEBRATIONS</h4>
    </div>
    <div class="text_flex">
      <div class="info">
        <p>At Contra, we host a mix of events that bring our community together. From cute little markets, to heartfelt Charity Events and cozy Gatherings that spark connection. Everybody is welcome at any time in our home, Contra House.</p>

        <div class="p_bold text_blue">
          <p>We will post about upcoming events on our instagram.</p>
        </div>
      </div>
      <Btn variant="primary" />
    </div>
  </div>
</section>
