---
import Btn from "../assets/Btn.astro";
---

<section id="guest_section">
  <div>
    <div>
      <h1 class="h2">Guests of</h1>
      <h1 class="h2 text_blue">Contra</h1>
      <h2 class="h4">GUEST OF THE HOUSE | information | TATTOO ARTIST</h2>
    </div>

    <div>
      <div id="toggleBtn"><Btn variant="secondary">Show more</Btn></div>
      <div id="content">
        <p>
          We have three benches or more than three artists. So let us know
          specially wen you will be tattooing, so we don’t overbook.
        </p>
        <p>Your client can bring a maximum of one friend.</p>
        <p>No shoes in the studio.</p>
        <p>The rate is 25%</p>
        <p>
          We supply everything you need but bring your own needles and machine,
          as well as any specific colours you need.
        </p>
        <p>
          We can supple you with a key, with a cost of 300dkk if you lose it.
        </p>
        <p>
          The studio is available from 9:00 to 23:00, after 22:00 no loud noises
          or music can be made for the sake of our neighbours.
        </p>
        <p>
          We share the space with other artits and designers therefore the space
          cen be busy, so for a more private consultation bring your client in
          to the studio and not in the shared space.
        </p>
        <p>We are looking forward to having you guest at our space.</p>
      </div>
    </div>

    <div>
      <p class="bold">At Contra, we do not accept</p>
      <ul>
        <li>Racism</li>
        <li>Sexism</li>
        <li>Homophobia</li>
        <li>Transphobia</li>
        <li>Violence</li>
        <li>Drugs</li>
        <li>All forms of shaming</li>
      </ul>
    </div>
  </div>
</section>

<style>
  section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  section div{
    display: flex;
    flex-direction: column;
    gap: var(--gap-16);
    margin-top: var(--gap-32);
  }
  #content {
    display: none;
    margin-top: 10px;
  }

  ul li {
    list-style-type: disc;
    margin-top: 12px;
    font-family: var(--body-text);
    font-size: var(--xs-size);
    font-weight: var(--regular-weight);
    line-height: 27px;
  }
  .text_blue {
    color: var(--secondary-text);
  }
</style>

<!-- <script>
  const btn = document.getElementById("toggleBtn");
  const content = document.getElementById("content");

  btn.addEventListener("click", () => {
    const isVisible = content.style.display === "block";
    content.style.display = isVisible ? "none" : "block";
    btn.textContent = isVisible ? "Show more" : "Show less";
  });
</script> -->
