---
import "../assets/Btn.astro";
import "../assets/Link.astro";
import "../../css/global.css";
import "../../css/variables.css";
import Link from "../assets/Link.astro";
---

<section id="header_section" class="header_sec">
  <div class="title">
    <h1 class="h1_bold">contra</h1><h1 class="h1_regular">house</h1>
  </div>
  <div class="header_video"><img src="../../../public/video_placeholder.png" alt="video_placeholder" /></div>
  <div class="brand_names">
    <ul>
      <li><Link href="#local_poke_mom" variant="primary">lokal poke mom</Link></li>
      <li><Link href="#guldhammer" variant="primary">guldhammer studio</Link></li>
      <li><Link href="#soriano" variant="primary">studio soriano</Link></li>
      <li><Link href="#nvll+void" variant="primary">nvll+void</Link></li>
    </ul>
  </div>
</section>

<style>
  .header_sec {
    margin-top: var(--gap-96);
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: var(--content-max);
    margin-left: auto;
    margin-right: auto;
  }
  .title {
    display: flex;
    flex-direction: row;
    gap: var(--gap-8);
    margin-bottom: var(--gap-32);
  }
  .header_sec h1 {
    margin: 0;
  }
  .brand_names ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--gap-24);
    padding: 0;
  }
  .brand_names ul li {
    white-space: nowrap;
  }
  .header_video {
    max-width: 300px;
    min-height: auto;
    margin-bottom: var(--gap-32);
  }
</style>
