---
import Item from "../assets/Item.astro";
---

<section id="items_section">
  <Item href="#1" text="Local Poke Mom"
    ><img src="/items/contra_tat.png" alt="ring" /></Item
  >
  <Item href="#2" text="Studio Soriano"
    ><img src="/items/soriano_bag.png" alt="ring" /></Item
  >
  <Item href="#3" text="Guldhammer studio"
    ><img src="/items/gldhmr_ring.png" alt="ring" /></Item
  >
  <Item href="#4" text="Nvll+Void Jemlery"
    ><img src="/items/nvll_bracelet.png" alt="ring" /></Item
  >
</section>

<style>
  section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--gap-32);
    flex-wrap: wrap;
    margin-top: var(--margin-tb);
    margin-bottom: var(--margin-tb);
  }
  @media (min-width: 1120px) {
    section {
      flex-direction: row;
      gap: var(--gap-16);
      flex-wrap: wrap;
      margin-top: var(--margin-tb);
      margin-bottom: var(--margin-tb);
    }
  }
</style>
