---
import "../assets/Btn.astro";
import "../assets/Link.astro";
import "../../css/global.css";
import "../../css/variables.css";
import Link from "../assets/Link.astro";
---

<section id="what_section">
  <div class="title_gap">
    <h1 class="h2">what is <span class="text_blue">contra?</span></h1>

    <h2 class="h4 text_blue">TATTOOS | ACESSORIES | JEWELLERY | EVENTS</h2>
  </div>
  <div class="text_flex">
    <div class="info">
      <p>
        Contra is a vibrant creative space, located in Nørrebro, where four
        independent brands come together under one roof.
      </p>
      <p>
        From tattoos and raw handcrafted jewelry to unique fashion made from
        recycled materials, Contra is built on collaboration, care, and
        creativity.
      </p>
      <p>
        With cozy vibes, ongoing events, and a heartfelt welcome, Contra invites
        everyone into its warm and inspiring community.
      </p>
    </div>
    <div>
      <p>Jagtvej 76, st.th, 2200 København</p>
      <p>
        Man - fre: 10 - 17 <br />
        Lør: 12 - 17 <br />
        Søn: lukket
      </p>
    </div>
  </div>
</section>

<style>
  .info {
    display: flex;
    flex-direction: column;
  }

  @media screen and (min-width: 900px) {
    .info {
      max-width: 760px;
    }
    .text_flex {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: var(--gap-48);
    }
  }
</style>
