---
import "../assets/Btn.astro";
import "../assets/Link.astro";
import "../../css/global.css";
import "../../css/variables.css";
import Link from "../assets/Link.astro";
---

<section id="what_section" class="what_sec">
  <div class="what_container">
    <div class="what_title">
      <div class="what_h2">
        <h2>what is</h2><h2 class="text_blue">contra?</h2>
      </div>
      <h4 class="text_blue">TATTOOS | ACESSORIES | JEWELLERY | EVENTS</h4>
    </div>
  </div>
</section>
