---
import Portrait from "../assets/Portrait.astro";
---

<h1 class="h2">who are</h1><h1 class="h2 text_blue">we?</h1>
<Portrait text="Local PokeMom"><img src="../../public/portraits/soriano.jpg" alt="Studio Soriano" /> </Portrait>
