---
import Portrait from "../assets/Portrait.astro";
---

<section id="who_section">
  <div class="who_text">
    <div class="title_gap">
      <h1 class="h2">who are <span class="text_blue">we?</span></h1>
      <h2 class="h4">the women behind contra</h2>
    </div>

    <p>
      We are four women with our own creative business and own voice - in ink,
      fabric, and metal. At Contra, we've created a space where creativity flows
      freely and support is always present. Whether we work with tattoos,
      jewelry, or fashion, we celebrate each other, and create side by side. who
      drives us is more than craft — it's connection, warmth, and our collective
      home.
    </p>
  </div>
  <div class="portrait_container">
    <Portrait text="Local PokeMom" href="#1"
      ><img src="/portraits/mathilde.webp" alt="Local Poke Mom" />
    </Portrait>
    <Portrait text="Studio Soriano" href="#2"
      ><img src="/portraits/melanie.webp" alt="Studio Soriano" />
    </Portrait>

    <Portrait text="Guldhammer Studio" href="#3"
      ><img src="/portraits/sofie.webp" alt="Guldhammer Studio" />
    </Portrait>
    <Portrait text="NVLL+Void" href="#4"
      ><img src="/portraits/leah.webp" alt="NVLL+Void" />
    </Portrait>
  </div>
</section>

<style>
  .who_text {
    display: flex;
    flex-direction: column;
    gap: var(--gap-16);
  }
  .portrait_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 100%;
  }
  .portrait_container img {
    width: 164px;
    height: auto;
    margin-bottom: var(--gap-32);
  }
  @media screen and (min-width: 900px) {
    .portrait_container {
      flex-direction: row;
      justify-content: space-between;
    }

    .portrait_container img {
      width: 224px;
    }
  }
</style>
