---
import Navigation from "../components/assets/Navigation.astro";
import Item from "../components/assets/Item.astro";
import Footer from "../components/assets/Footer.astro";
import Header from "../components/sections/Header.astro";
import What from "../components/sections/What.astro";
import Who from "../components/sections/Who.astro";
import Events from "../components/sections/Events.astro";
import "../css/global.css";
import "../css/variables.css";
import Items from "../components/sections/Items.astro";
import Guest from "../components/sections/Guests.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <header><Navigation /></header>

    <main>
      <Header />
      <Items />
      <What />
      <Who />
      <Events />

      <Guest />
    </main>
    <Footer />
  </body>
</html>
