---
import "../css/global.css";

import Btn from "../components/assets/Btn.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <h1></h1>
	<Btn variant="primary">Klik her</Btn>
	<Btn variant="secondary">Klik her</Btn>
  </body>
</html>
