---
import "../css/global.css";
import "../css/variables.css";

import Navigation from "../components/assets/Navigation.astro";
import Header from "../components/sections/Header.astro";
import Items from "../components/sections/Items.astro";
import What from "../components/sections/What.astro";
import Who from "../components/sections/Who.astro";
import Brands from "../components/sections/Brands.astro";
import Events from "../components/sections/Events.astro";
import Guest from "../components/sections/Guests.astro";
import Map from "../components/sections/Map.astro";
import Footer from "../components/assets/Footer.astro";

// Fetch data from the API
const data = await fetch("https://raumuorgifptawjbmnbs.supabase.co/rest/v1/brand_section", {
  method: "GET",
  headers: {
    apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJhdW11b3JnaWZwdGF3amJtbmJzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDcwNTAwMDUsImV4cCI6MjA2MjYyNjAwNX0.BPy2NGqQAT2SG3hH26mKfa_6qdXFEFIozGsldGafvSg",
  },
}).then((res) => res.json());

console.log(data);
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
    <link rel="icon" type="image/x-icon" href="/logo_favicon.png" />
  </head>
  <body>
    <div class="background_illustration"></div>
    <div class="allcontent">
      <Navigation />

      <main>
        <Header />
        <Items />
        <What />
        <Who />
        {
          data.map((brand) => {
            return <Brands data={brand} />;
          })
        }
        <Events />
        <Guest />
      </main>
      <Footer />
    </div>
  </body>
</html>

<style>
  .parallax_wrapper {
    position: relative;
    height: 100vh;
    overflow: hidden;
  }

  .background_illustration {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    opacity: 0.1;
    background-image: url("/background.jpg");
    background-size: cover;
    background-position: center;
    z-index: -1;
    will-change: transform;
  }

  .allcontent {
    position: relative;
    z-index: 1;
  }
</style>
<script>
  window.addEventListener("scroll", () => {
    const scrolled = window.scrollY;
    const bg = document.querySelector(".background_illustration");
    if (bg) {
      bg.style.transform = `translateY(${scrolled * 0.01}px)`; // Hastighed
    }
  });
</script>
