@import url(variables.css);

* {
  box-sizing: border-box;
}

body {
  background-color: var(--background);
  color: var(--primary-text);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

li {
  list-style-type: none;
}

/* LAYOUT */
main {
  max-width: var(--content-max);
  margin-left: var(--margin-side);
  margin-right: var(--margin-side); 
}

/* TEXT */
.h1_bold {
  font-family: var(--primary-header);
  font-size: var(--xl-size);
  font-weight: var(--bold-weight);
  text-transform: uppercase;
}

.h1_regular {
  font-family: var(--primary-header);
  font-size: var(--xl-size);
  font-weight: var(--regular-weight);
  text-transform: uppercase;
}

.h2 {
  font-family: var(--primary-header);
  font-size: var(--xxl-size);
  font-weight: var(--regular-weight);
  text-transform: uppercase;
   margin-top: 0;
  margin-bottom: 0;
}

.h3 {
  font-family: var(--secondary-header);
  font-size: var(--m-size);
  font-weight: var(--regular-weight);
  text-transform: uppercase;
}

.h4 {
  font-family: var(--secondary-header);
  font-size: var(--xs-size);
  font-weight: var(--regular-weight);
  text-transform: uppercase;
  color: var(--secondary-text);
}

p {
  font-family: var(--body-text);
  font-size: var(--xs-size);
  font-weight: var(--regular-weight);
  line-height: 27px;
}
p.bold {
  font-family: var(--body-text);
  font-size: var(--xs-size);
  font-weight: var(--bold-weight);
  line-height: 27px;
  color: var(--secondary-text);
}

/* IMG - VIDEO */
img,
video,
svg {
  width: 100%;
  height: auto;
  display: block;
}
