/* IMPORTS */

/* COLORS */
:root {
  /* Brand */
  --white: #f9f8f9;
  --black: #171720;
  --blue: #123fce;

  /* accents */
  --white-70: rgba(249, 248, 249, 0.7);
  --blue-40: rgba(18, 63, 206, 0.4);

  /* basic */
  --background: var(--white);
  --primary-text: var(--black);
  --secondary-text: var(--blue);
  --btn: var(--blue);
  --btn-hover-text: var(--white);

  --background-nav: var(--white-70);
}

/* FONTS */
:root {
  /* family */
  --primary-header: "cinzel decorative", serif;
  --secondary-header: "cinzel", serif;
  --body-text: "source sans pro", sans-serif;

  /* weight */
  --regular-weight: 400;
  --bold-weight: 700;

  /* size */
  --xs-size: 1.25rem;
  --s-size: 1.5rem;
  --m-size: 2rem;
  --l-size: 2.5rem;
  --xl-size: 3rem;
  --xxl-size: 3rem;

  /* line-height??? */
}

@media (min-width: 1120px) {
  :root {
    /* size */
    --xs-size: 1.5rem;
    --s-size: 2rem;
    --m-size: 3rem;
    --l-size: 4rem;
    --xl-size: 6rem;
    --xxl-size: 7.5rem;

    /* line-height??? */
  }
}
