/* IMPORTS */
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Cinzel:wght@400..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

/* COLORS */
:root {
  /* Brand */
  --white: #f9f8f9;
  --black: #171720;
  --blue: #123fce;

  /* accents */
  --white-70: rgba(249, 248, 249, 0.7);
  --blue-40: rgba(18, 63, 206, 0.4);

  /* basic */
  --background: var(--white);
  --primary-text: var(--black);
  --secondary-text: var(--blue);
  --btn: var(--blue);
  --btn-hover-text: var(--white);

  --background-nav: var(--white-70);
}

/* FONTS */
:root {
  /* family */
  --primary-header: "cinzel decorative", serif;
  --secondary-header: "cinzel", serif;
  --body-text: "source sans pro", sans-serif;

  /* weight */
  --light-weight: 200;
  --regular-weight: 400;
  --bold-weight: 700;

  /* size */
  --xxs-size: 0.75rem;
  --xs-size: 1.125rem;
  --s-size: 1.25rem;
  --m-size: 1.5rem;
  --l-size: 2rem;
  --xl-size: 3rem;
  --xxl-size: 3rem;

  /* line-height??? */
}

@media (min-width: 900px) {
  :root {
    /* size */
    --xxs-size: 1rem;
    --xs-size: 1.25rem;
    --s-size: 1.5rem;
    --m-size: 2rem;
    --l-size: 3rem;
    --xl-size: 6rem;
    --xxl-size: 7.5rem;

    /* line-height??? */
  }
}

/* SPACING */
:root {
  /* content */
  --content-min: 320px;
  --content-max: 480px;

  /* margin */
  --margin-side: 0.5rem;
  --margin-tb: 8rem;

  /* gap */
  --gap-0: 0rem;
  --gap-4: 0.25rem;
  --gap-8: 0.5rem;
  --gap-16: 1rem;
  --gap-24: 1.5rem;
  --gap-32: 2rem;
  --gap-40: 2.5rem;
  --gap-48: 3rem;
  --gap-64: 4rem;
  --gap-96: 6rem;
  --gap-128: 8rem;
  --gap-200: 12.5rem;
  --gap-300: 18.75rem;
}

@media (min-width: 700px) {
   :root {
    /* content */
    --content-min: 480px;
    --content-max: 820px;}
}

@media (min-width: 1120px) {
  :root {
    /* content */
    --content-min: 1120px;
    --content-max: 1120px;

    /* margin */
    --margin-side: 4rem;
    --margin-tb: 8rem;
  }
}
