/* IMPORTS */
@font-face {
  font-family: cinzel decorative;
  src: url("/cinzeldecorative.woff2");
}
@font-face {
  font-family: cinzel;
  src: url("/cinzel.woff2");
}
@font-face {
  font-family: manrope;
  src: url("/manrope.woff2");
}
/* COLORS */
:root {
  /* Brand */
  --white: #f9f8f9;
  --black: #171720;
  --blue: #123fce;

  /* accents */
  --white-70: rgba(249, 248, 249, 0.7);
  --blue-40: rgba(18, 63, 206, 0.4);

  /* basic */
  --background: var(--white);
  --primary-text: var(--black);
  --secondary-text: var(--blue);
  --btn: var(--blue);
  --btn-hover-text: var(--white);

  --background-nav: var(--white-70);
}

/* FONTS */
:root {
  /* family */
  --primary-header: "cinzel decorative";
  --secondary-header: "cinzel";
  --body-text: "manrope", sans-serif;

  /* weight */
  --light-weight: 200;
  --regular-weight: 400;
  --bold-weight: 700;

  /* size */
  --xxxs-size: 0.7rem; 
  --xxs-size: 0.75rem;
  --xs-size: 1.125rem;
  --s-size: 1.25rem;
  --m-size: 1.5rem;
  --l-size: 2rem;
  --xl-size: 3rem;
  --xxl-size: 3rem;
}

@media (min-width: 900px) {
  :root {
    /* size */
    --xxxs-size: 0.875rem;
    --xxs-size: 1rem;
    --xs-size: 1.125rem;
    --s-size: 1.5rem;
    --m-size: 2rem;
    --l-size: 3rem;
    --xl-size: 6rem;
    --xxl-size: 7.5rem;
  }
}

/* SPACING */
:root {
  /* content */
  --content-max: 100vw;

  /* margin */
  --margin-tb: 8rem;

  /* gap */
  --gap-0: 0rem;
  --gap-4: 0.25rem;
  --gap-8: 0.5rem;
  --gap-16: 1rem;
  --gap-24: 1.5rem;
  --gap-32: 2rem;
  --gap-40: 2.5rem;
  --gap-48: 3rem;
  --gap-64: 4rem;
  --gap-96: 6rem;
  --gap-128: 8rem;
}

@media (min-width: 1120px) {
  :root {
    /* content */
    --content-max: 1120px;

    /* margin */
    --margin-tb: 15rem;
  }
}
