---
const { variant, id } = Astro.props;
---

<button class={variant} id={id}><slot /></button>

<style>
  button {
    font-family: var(--secondary-header);
    font-size: var(--xs-size);
    font-weight: var(--regular-weight);
    text-transform: uppercase;
    border: 1px solid var(--btn);
    padding: var(--gap-8) var(--gap-32);
    text-align: center;
    text-decoration: none;
    cursor: pointer;
  }

  .primary {
    background-color: var(--btn);
    color: var(--btn-hover-text);
  }
  .primary:hover {
    background-color: transparent;
    color: var(--btn);
  }

  .secondary {
    background-color: transparent;
    color: var(--btn);
  }
  .secondary:hover {
    background-color: var(--btn);
    color: var(--btn-hover-text);
  }
</style>
