---

---

<footer>
  <div id="footer_section" class="footer_sec">
    <img src="/kort_contra.png" alt="kort" />
    <div class="footer_text">
      <p>© 2025 Contra House.</p>
      <p>JAGTVEJ 76 ST, TH 2200 COPENHAGEN N</p>
    </div>
  </div>
</footer>

<style>
  .footer_text {
    display: flex;
    flex-direction: column;
    gap: var(--gap-16);
    justify-content: space-around;
    align-items: center;
  }
  .footer_sec {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: var(--gap-64);
    padding-top: var(--gap-32);
    margin-left: var(--margin-side);
    margin-right: var(--margin-side);
    margin-bottom: var(--gap-32);
  }
  footer p {
    font-size: var(--xxs-size);
  }
  footer img {
    max-width: 300px;
  }
  @media (min-width: 900px) {
    footer img {
      max-width: 400px;
    }
    .footer_text {
      flex-direction: row;
    }
  }
</style>
