---

---

<footer>
  <p>© 2025 Contra House.</p>
  <p>JAGTVEJ 76 ST, TH 2200 COPENHAGEN N</p>
</footer>

<style>
  footer {
    display: flex;
    justify-content: space-between;
    padding-top: var(--margin-tb);
    margin-left: var(--margin-side);
    margin-right: var(--margin-side);
  }
  footer p {
    font-size: var(--xxs-size);
  }
</style>
