---

---

<footer>
  <p>© 2023 Contra House.</p>
  <p>JAGTVEJ 76 ST, TH 2200 COPENHAGEN N</p>
</footer>

<style>
  footer {
    padding-top: var(--margin-tb);
  }
  footer p {
    font-size: var(--xs-size);
  }
</style>
