---
const { text, href } = Astro.props;

import Link from "./Link.astro";
---

<article>
  <div><slot /></div>
  <div class="show"><Link href={href} variant="primary">{text}</Link></div>
</article>

<style>
  article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--gap-16);
    row-gap: var(--gap-8);
  }

  div {
    display: flex;
    justify-content: center;
    width: 160px;
    height: auto;
  }
  .show {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.3s ease;
  }

  @media (min-width: 900px) {

    div {
      width: 264px;
      height: auto;
    }
    .show {
      visibility: hidden;
      opacity: 0;
    }
    article:hover .show {
      visibility: visible;
      opacity: 1;
    }
  }
</style>
