---
const { href, variant, target, src } = Astro.props;
---

<a href={href} class={variant} target={target}>
  <slot />
  <span class="hover-img">
    <img class="hideImg" src={src} alt="Hover icon" />
  </span></a
>

<style>
  a {
    font-family: var(--secondary-header);
    font-size: var(--xs-size);
    font-weight: var(--light-weight);
    text-transform: uppercase;
    cursoer: pointer;
    text-align: center;
    position: relative; /* Important for positioning the image */
  }

  .primary {
    color: var(--primary-text);
    text-decoration: none;
  }
  .primary:hover {
    color: var(--secondary-text);
    text-decoration: underline;
  }

  .secondary {
    color: var(--secondary-text);
    text-decoration: none;
  }
  .secondary:hover {
    color: var(--primary-text);
    text-decoration: underline;
  }

  .tertiary {
    color: var(--primary-text);
    text-decoration: none;
    
  }
  
  .tertiary:hover {
    color: var(--secondary-text);
    text-decoration: underline;
  }
  .hideImg{
    display: none;
  }

  .hover-img {
    display: none;
    position: absolute;
    top: -800%; /* above the text */
    left: 80%;
    transform: translateX(-50%);
    margin-top: 0.25rem;
    z-index: 10;
  }

  .tertiary:hover .hover-img {
    display: block;
  }

  /* Optional: Add image size */
  .hover-img img {
    width: 200px;
    height: auto;
  }

  @media (min-width: 900px) {
    a {
      font-size: var(--xs-size);
    }
    .hideImg{
    display: block;
  }
  }
</style>
