---
const { href, variant, target } = Astro.props;
---

<a href={href} class={variant} target={target}><slot /></a>

<style>
  a {
    font-family: var(--secondary-header);
    font-size: var(--xs-size);
    font-weight: var(--light-weight);
    text-transform: uppercase;
    cursoer: pointer;
    text-align: center;
  }
    

  .primary {
    color: var(--primary-text);
    text-decoration: none;
  }
  .primary:hover {
    color: var(--secondary-text);
    text-decoration: underline;
  }

  .secondary {
    color: var(--secondary-text);
    text-decoration: none;
  }
  .secondary:hover {
    color: var(--primary-text);
    text-decoration: underline;
  }

  @media (min-width: 900px) {
    a {
      font-size: var(--xs-size);
    }
  }
</style>
