---
import Link from "../assets/Link.astro";
---

<header class="header">
  <nav class="desktop_nav">
    <div class="desktop_nav_wrapper">
      <ul class="ul_desk">
        <li>
          <Link href="#what_section" variant="secondary">What is Contra?</Link>
        </li>
        <li><Link href="#who_section" variant="primary">Who are we?</Link></li>

        <Link href="#header_section" variant="primary"><img src="assets/logo_silver.webp" alt="logo" /></Link>
        <li>
          <Link href="#events_section" variant="primary">Our events</Link>
        </li>
        <li>
          <Link href="#guest_section" variant="primary">Guest artists</Link>
        </li>
      </ul>
    </div>
  </nav>

  <!-- Mobil menu layout -->

  <div class="nav_menu">
    <ul>
      <li>
        <Link href="#what_section" variant="secondary">What is Contra?</Link>
      </li>
      <li><Link href="#who_section" variant="primary">Who are we?</Link></li>
      <li><Link href="#events_section" variant="primary">Our events</Link></li>
      <li>
        <Link href="#guest_section" variant="primary">Guest artists</Link>
      </li>
    </ul>
  </div>

  <div class="navigation">
    <Link href="#header_section" variant="primary"><img src="/assets/logo_silver.webp" alt="logo" /></Link>
    <div class="burger_menu">
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    </div>
  </div>
</header>

<style>
  img {
    width: 30px;
    height: auto;
  }
  .desktop_nav {
    display: none;
  }
  .navigation {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: var(--gap-16);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--white-70);
    height: 60px;
    z-index: 30;
    backdrop-filter: blur(4px);
  }
  .bar {
    display: block;
    width: 40px;
    height: 4px;
    margin: 8px auto;
    background-color: var(--blue);
    border-radius: 10px;
    transition: all 0.4 ease-in-out;
    transform-origin: center;
  }
  .nav_menu {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    width: 80%;
    max-width: 248px;
    height: 100vh;
    transform: translateX(100%);
    background-color: var(--white-70);
    backdrop-filter: blur(4px);
    z-index: 10;
    transition: transform 0.3s ease-in-out;
  }
  .nav_menu ul {
    display: flex;
    flex-direction: column;
    gap: var(--gap-64);
    padding-left: var(--gap-16);
    padding-right: var(--gap-16);
    padding-top: var(--gap-96);
    padding-bottom: var(--gap-64);
  }
  .nav_menu.active {
    display: block;
    right: 0;
    top: 0;
    transform: translateX(0%);
  }
  .burger_menu {
    display: block;
    position: absolute;
    cursor: pointer;
    position: relative;
  }

  .burger_menu.active .bar:nth-child(2) {
    opacity: 0;
  }
  .burger_menu.active .bar:nth-child(1) {
    transform: translateY(12px) rotate(45deg);
  }
  .burger_menu.active .bar:nth-child(3) {
    transform: translateY(-12px) rotate(-45deg);
  }

  @media screen and (min-width: 1120px) {
    .navigation,
    .nav_menu {
      display: none;
    }
    .desktop_nav {
      position: fixed;
      display: flex;
      padding: var(--gap-16);
      background-color: var(--white-70);
      height: 60px;
      backdrop-filter: blur(4px);
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      z-index: 10;
      justify-content: center;
    }

    .desktop_nav_wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .ul_desk {
      display: flex;
      flex-direction: row;
      gap: var(--gap-128);
      padding-left: 0;
      align-items: center;
    }
  }
</style>
<script>
  const hamburger = document.querySelector(".burger_menu");
  const navMenu = document.querySelector(".nav_menu");

  hamburger.addEventListener("click", mobileMenu);

  function mobileMenu() {
    hamburger.classList.toggle("active");
    navMenu.classList.toggle("active");
  }
  /*  document.addEventListener("DOMContentLoaded", function () {
    const links = document.querySelectorAll('.nav_menu .desktop_nav a[href^="#"]');

    links.forEach((link) => {
      link.addEventListener("click", function (e) {
        e.preventDefault();

        const targetId = this.getAttribute("href");
        const targetElement = document.querySelector(targetId);

        if (targetElement) {
          const topOffset = targetElement.getBoundingClientRect().top + window.pageYOffset;

          window.scrollTo({
            top: topOffset,
            behavior: "smooth",
          });

        }
      });
    });
  }); */
</script>
