---
const { text } = Astro.props;
---

<a href="#LocalPokeMom_section">
  <article>
    <slot />
    <div class="show text_box">{text}</div>
  </article>
</a>

<style>
  article {
    filter: blur(4px);
    transition: filter 0.3s ease;
    width: 164px;
    height: auto;
  }
  article:hover {
    filter: blur(0px);
  }
  .show {
    visibility: hidden;
    opacity: 0;
  }
  @media (min-width: 900px) {
    article {
      width: 264px;
      height: auto;
    }

    article:hover .show {
      visibility: visible;
      opacity: 1;
    }
  }
</style>
